@model WebApplication1.AppDbContext.Contact
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

<div>
    <div class="for-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div class="for-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div class="for-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = true })
        </div>
    </div>
</div>

